.contenedor{
  background-color: rgba(41, 62, 201, 0.48);
  width: 50%;

  margin: 10px auto;
  border: 5px solid red;

}

h1{
    text-align: center;
}
#pass:hover{
  background-color:rgb(13, 210, 238);
}


.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-input input{
	visibility: hidden;
	position: absolute;
	right: 0;
}
.content-input input + i{
       background: #f0f0f0;
       border:2px solid rgba(0,0,0,0.2);
       position: absolute;
       left: 0;
       top: 0;
}

#wa:visited{
  background-color: red;
}
#wa:focus{
  
}


input:where([type="checkbox"], [type="radio"]){
  -webkit-appearance : none;
  appearance         : none;
  width              : 22px;
  height             : 22px;
  margin             : calc(0.75em - 11px) 0.25rem 0 0;
  vertical-align     : top;
  border             : 2px solid #ddd;
  border-radius      : 4px;
  background         : #fff no-repeat center center;
}

input[type="radio"]{
  border-radius : 50%;
}

input:where([type="checkbox"], [type="radio"]):where(:active:not(:disabled), :focus){
  border-color : #696;
  outline      : none;
}

input:where([type="checkbox"], [type="radio"]):disabled{
  background : #eee;
}

input[type="checkbox"]:checked{
  background-image : url('checkbox.svg');
}

input[type="radio"]:checked{
  background-image : url('radio.svg');
}
