body {
  background: #f6faff;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}
.caja {
  margin: 0.5rem;
  background: #f3edd6;
  border: 3px solid #b59214;
  color: #b59214;
  padding: 3rem;
  font-size: 2rem;
  text-align: center;
}